<div class="d-flex justify-content-between mt-2">
  <h3>Games</h3>
  <div>
  </div>
</div>




<div  class="mainContent">
    <table class="table">
      <thead>
      <tr class="warning">
        <th >ID</th>
        <th>Picture</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Date of Publishing</th>
        <th>Category</th>
        <th>Language</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Number of Players</th>
        <th>Time of a game</th>
        <th>TypeOfGame</th>
        <th>Certified</th>
        <th>Actions</th>
      
      </tr>
      </thead>
      <tbody>
      <tr class="warning" *ngFor="let game of games">
        <td>{{game.id}}</td>
        <td>
          <div class="game-summary">
              
            <div class="game-image-container">
              <img width="200px" height="auto" [src]="game.posterImgUrl" [alt]="game.title">
            </div> 
          </div>
        </td>
        <td>
            <div class="game-titles-container">
              <a class="game-title" [routerLink]="['/', 'games', 'details', game.id]">{{game.title}}</a>
              

            </div>
        </td>
      
       
     
        <td>{{game.rating }}</td>
        <td>{{game.publishAt | date }}</td>
        <td>{{game.categoryId}}</td>
        <td>{{game.language}}</td>
        <td>{{game.price}}</td>
        <td>{{game.discount}}%</td>
        <td>{{game.numberOfPlayers}}</td>
        <td>{{game.timeOfAGameInMinutes}}</td>
        <td>{{game.typeOfGame}}</td>
        
        <td>
          <span *ngIf="game.isOriginalityCertificateIncluded; else certificateNotIncluded">Yes</span>
          <ng-template #certificateNotIncluded>
            <span>-</span>
          </ng-template>
        </td>
      <td>
        <a class="btn btn-sm btn-outline-primary"
           [routerLink]="['/', 'games', 'edit', game.id]">Edit</a>
           

        </td>
      </tr>
      </tbody>
    </table>
 
  </div>

  
  
  