.course-summary {
    display: flex;
  
    .game-image-container {
      width: 80px;
      height: 45px;
  
      img {
        width: 300px;
        height: 300px;
      }
    }
  
    .course-titles-container {
      margin-left: 12px;
  
      .course-title {
        display: block;
        font-weight: bold;
      }
    }
  }
  