


<body style="background-color:#d2ff8a;" >

  <div id="wrapper">
      <header id="mainHeader">
        <hr id="grayLine"/>
        <div id="logo"> Table Games </div>
        <div id="white-line"> </div>
      </header>
      <nav id="menu">
        <nav id="buttons">

  
  
    <ul class = "ul-main-content">
      <a class="navbar-brand" style="border-radius:  10px; background-color: white;" routerLinkActive="active"  routerLink="dashboard">Table Games</a>

        <a class="button"  routerLinkActive="active" routerLink="dashboard">Dashboard</a>
      
       <a class="button" routerLinkActive="active"  routerLink="games">Games</a>
      
       <a class="button" routerLinkActive="active" routerLink="categories">Categories of games</a>
     
      
    </ul>
  
</nav>
<main role="main" class="mainContent">

  
    <div id="mainContent">
      
    <router-outlet></router-outlet>
  </div>
  
 
</main>
<div class="footer"></div>